*/{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.pswd-container{
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: #f9f8fa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
}
.mail-cont{
    margin-top: 10px;
    width: 80%;
}
.link-btn{
    padding: 0.7rem;
    border:none;
    background:  #bbe780;
    border-radius: 7px;
}
.link-btn:hover{
    color: white;
    cursor: pointer;
}